
.container {
    background-image: url("//images03.nicepage.io/a1389d7bc73adea1e1c1fb7e/8b95db78f182530daeea68a3/pexels-photo-3969514.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    height: 600px;
    padding: 0px 0px 140px 0px;
    .header {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        max-width: 1100px;
        margin: 0 auto;
        font-family: $font;
        color: white;
        // padding-top: 20px;
        .fa-bullseye {
            font-size: 2rem;
            color: lightgray;
        }
        .header__menu {
            display: flex;
            justify-content: center;
            align-items: center;
            li {
                padding: 20px 20px;
                font-weight: 500;
            }
        }
        .header__btns {
            font-weight: 600;
            font-size: 1.2rem;
            a {
                padding: 20px 20px;
            }
        }
    }
    .header__info {
        max-width: 1100px;
        margin: 0 auto;
        text-align: center;
        padding-top: 50px;
        color: white;
        font-family: $font;
        h1 {
            font-size: 3rem;
            margin-bottom: 20px;
            font-weight: 300;
            word-spacing: .2rem;
            letter-spacing: .3rem;
            span {
                font-weight: 600;
            }
        }
        p {
            font-weight: 400;
            line-height: 1.5;
            font-size: 1.1rem;
        }
    }
}
